# ===============================
# ASP.NET Core – secretos locales
# ===============================
appsettings.Development.json

# ===============================
# Variables de entorno (si usas)
# ===============================
.env
.env.*

# ===============================
# Build / binarios
# ===============================
bin/
obj/

# ===============================
# Logs
# ===============================
*.log
